@{
    ViewData["Title"] = "Index";
}
<h3 class="presentacion3">Bienvenidos a la sala de escape Ti , a continuacion tenes un boton que al presionarlo ingresaras a las salas, en la primer seccion tendras que responder preguntas acerca SaaS, cuando completes las 2 preguntas de forma correcta, automaticamente te dara un digito que deberas guardar para el final, luego tendras el boton de ir a la siguiente seccion sobre IaaS que tambien te dara un digito nuevo si respondes todo bien y por ultimo pasaras a las ultimas preguntas acerca de PaaS, si las respondes bien te dara el ultimo digito y pasaras a la recta final donde deberas ingresar el conjunto de los 3 digitos, en caso que lo completes bien, escapas de la sala y en caso de que lo ingreses de forma incorrecta deberas volver a empezar:( ! Estas preparado para empezar ? Suerteeee</h3>
<form action="@Url.Action("FormularioPreguntas", "Home")" method="get">
    <button type="submit" class="btn btn-primary">¡ Entrar a la Sala !</button>
</form> 